!!! Strict
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
    %title #{(title ? title + " - " : "")}raoulmillais.com
    %meta(name="description" content="random musings on music and technology")
    %link(href="/raoul/raoul.css?v2" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
    %script(href="/raoul/scripts/jquery-1.6.2.min.js type="text/javascript")
    %script(href="/raoul/scripts/raphael.min.js" type="text/javscript")
    %script(href="/raoul/scripts/Button.js" type="text/javscript")
  %body
    #container
      #header
        %a{href: "/"}
          %div#logo        
          %h1
            raoul.io
          %h2.tagline
            random musings on music and technology
      = content
      
      #footer.clearfix
        %p Site Design and code is &copy; 2010 to Tim Caswell under the MIT license. Content and articles are copyrighted to the individual authors. All code snippets used in the examples are in the public domain.
        %p Wheat running on node #{process.version}
    :script
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :script
      try {
      var pageTracker = _gat._getTracker("UA-12824411-1");
      pageTracker._trackPageview();
      } catch(err) {}


